:root {
  /* 변수 초기화 */
  --x: 0;
}

input[type="checkbox"]::after {
  content: "+" attr(S);
}

input[type="checkbox"]:checked {
  counter-reset: x calc( counter(x) + 1 );
  --y: calc( var(--x) + 1 );
}

input[type="checkbox"]:checked::before {
  counter-reset: y var(--y);
  content: "hi" counter(y);
}
