/* defalut */
html,body {
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body {
  font-family: 'Noto Sans KR'
}

/* style */
body {
  display: flex;
}

div#a, div#b {
  width: 100%;
  height: 100%;
}