/* var */
:root {
  --cell-size: 20px;
}

/* defalut */
html,body {
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body {
  font-family: 'Noto Sans KR'
}

/* style */
body {
  padding: 50px;
  text-align: center;
  background: #777777;
}

div#main {
  display: inline-block;
  margin: 0 auto;
}

input[first] {
  clear: left;
}

input[input-last] {
  margin-bottom: calc( var(--cell-size) * 3 );
}

input {
  -webkit-appearance: none;
  display: block;
  float: left;
  width: var(--cell-size);
  height: var(--cell-size);
  margin: 0;
  border: 1px white solid;
}

input:checked {
  background: white;
  box-shadow: 0 0 7px white, 0 0 10px white, 0 0 21px white, 0 0 42px white;
}