/* 1. var */
:root {
  --cell-size: 20px;
  --border-style: 1px white solid;
  --checked-background: white;
  --checked-box-shadow: 0 0 7px white, 0 0 10px white, 0 0 21px white, 0 0 42px white;
  --outputs-background: lightgray;
  --outputs-box-shadow: 0 0 7px lightgray, 0 0 10px lightgray, 0 0 21px lightgray, 0 0 42px lightgray;
}

/* 2. defalut style */
html,body {
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* 3. main style */
body {
  padding: 50px;
  text-align: center;
  background: #777777;
}

div#main {
  display: inline-block;
  margin: 0 auto;
}

input {
  -webkit-appearance: none;
  display: block;
  float: left;
  width: var(--cell-size);
  height: var(--cell-size);
  margin: 0;
  cursor: pointer;
  transition-duration: 0.1s;
}

input:checked {
  background: var(--checked-background);
  box-shadow: var(--checked-box-shadow);
}

input:hover {
  box-shadow: var(--checked-box-shadow);
}

input[overflow] {
  display: none;
}

input[left] {
  clear: left;
}

input[last] {
  margin-bottom: calc( var(--cell-size) * 3 );
}

input {
  border-left: var(--border-style);
  border-top: var(--border-style);
}

input[bottom] {
  border-bottom: var(--border-style);
}

input[right] {
  border-right: var(--border-style);
}

input[disabled] {
  cursor: not-allowed;
}
